@model WebRentACar.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CarBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CarBrand.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassengerSeats)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassengerSeats)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentalPricePerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentalPricePerDay)
        </dd>
    </dl>
    @if (Model.CarPictures != null && Model.CarPictures.Any())
    {
        <h4>Car Pictures</h4>
        <div class="row">
            @foreach (var picture in Model.CarPictures)
            {
                <div class="col-md-3">
                    <img src="@picture.PictureUrl" alt="Car Picture" class="img-fluid" />
                </div>
            }
        </div>
    }
    else
    {
        <p>No pictures available.</p>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
